/* Selector universal */
/* *{

} */
/* Selector por etiqueta*/
h1 {
   color: fuchsia;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   font-size:xx-large;
   text-align: center;
}

/* Selector por clase*/ 
.prueba_css {
color: lightcoral;
font-size: 20px;
text-transform: lowercase;
letter-spacing: 15px;
text-align: left;
}

/* Selector descendente */ 
div p {
    color: greenyellow;
}

/*Selector hijo directo */
section > span{
    color: orange;
}

/* Selector por atributo */ 
input[type="text"]{
    color: lightgreen;
}