/* Selector universal */
/* *{

} */
/* Selector por etiqueta*/
h1 {
   color: fuchsia; 
}

/* Selector por clase*/ 
.prueba_css {
color: lightcoral;
}

/* Selector descendente */ 
div p {
    color: greenyellow;
}

/*Selector hijo directo */
section > span{
    color: orange;
}